@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  *,
  html {
    scroll-behavior: smooth !important;
  }
}

@layer utilities {
  .transition-400 {
    transition: all 400ms ease-in-out;
  }
  .transition-300 {
    transition: all 300ms ease-in-out;
  }
  .transition-200 {
    transition: all 200ms ease-in;
  }
  .transition-100 {
    transition: all 100ms ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #d0dbf0;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.loader {
  width: 30px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #967676 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

@keyframes grow-glow {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  25% {
    transform: scale(2);
    opacity: 0.5;
  }
  50% {
    transform: scale(3);
    opacity: 0.25;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-grow-glow {
  animation: grow-glow 2s infinite;
  animation-timing-function: linear;
}

.break-word-own {
  word-break: break-word;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@keyframes pulse-recording {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

.animate-pulse-recording {
  animation: pulse-recording 1s infinite;
}
